<div class="container">
  <div class="row gap-y align-top pd-footer-big col-12">
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <h6>Ontdek</h6>
      <ul class="list-unstyled mb-0">
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/functies/digitale-werkbon-app.html">
            Werkbon app
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/functies/planning-software.html">
            Planning software
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/functies/project-management-tool.html">
            Project management tool
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/functies/project-planning-app.html">
            Project planning app
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/functies/offerte-tool.html">
            Offerte tool
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/functies/facturatie-software.html">
            Facturatie software
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/functies/crm-systeem.html">
            CRM & Objectbeheer
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/functies/urenregistratie-app.html">
            Urenregistratie app
          </a>
        </li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <h6>Over Crafter</h6>
      <ul class="list-unstyled mb-19">
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/over.html">
            Onze visie
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/over.html#wie">
            Wie zijn we
          </a>
        </li>
      </ul>
      <br>
      <br>
      <h6>Meer weten</h6>
      <ul class="list-unstyled">
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/tarieven.html">
            Tarieven
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="https://support.getcrafter.nl"
             target="_blank">
            Kennisbank
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="https://crafterv2.docs.apiary.io/#" 
             target="_blank">
            Crafter API
          </a>
        </li>
      </ul>    
    </div>
    <div class="col-12 col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <h6>Werken bij Crafter</h6>
      <ul class="list-unstyled">
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/vacatures/vacature-accountmanager-binnendienst.html">
            Accountmanager Binnendienst
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/vacatures/vacature-customer-success-manager.html">
            Customer Success Manager
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/vacatures/vacature-online-marketing-stage.html">
            Online Marketing Stage
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-xs-6 col-sm-6 col-md-3 col-lg-3">
      <h6>Contact support</h6>
      <ul class="list-unstyled">
        <li class="font-footer">
          <a class="nav-link font-footer">
            020 - 225 82 60
          </a>
        </li>
        <li class="font-footer">
          <a class="nav-link font-footer" 
             href="mailto:support@getcrafter.com">
            support@getcrafter.com
          </a>
        </li>
      </ul>
      <br>
      <br>
      <h6>Contact sales</h6>
      <ul class="list-unstyled">
        <li class="font-footer">
          <a class="nav-link font-footer">
            020 - 225 82 60
          </a>
        </li>
        <li class="font-footer">
          <a class="nav-link font-footer" 
             href="mailto:contact@getcrafter.com">
            contact@getcrafter.com
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link font-footer" 
             href="/online-demo.html">
            Plan direct je demo afspraak
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-divider">
  </div>
  <div class="row gap-y al-left pd-footer">
    <div class="col-12 al-left">
      <ul class="list-group-horizontal al-left mg-footer">
        <li class="list-group-item after">
          © 2014 - 2020 Crafter B.V.
        </li>
        <li class="list-group-item after">
          H.J.E. Wenckebachweg 123, 1096AM Amsterdam
        </li>
        <li class="list-group-item">
          Crafter is slim gereedschap om je binnen- en buitendienst te digitaliseren.
        </li>  
      </ul>
    </div>
  </div>
</div>