<!-- Google Analytics & Adwords tag -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-66742503-1">
</script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-66742503-1');
    gtag('config', 'AW-939056778');
</script>
<!-- End Google Analytics & Adwords tag -->

<!-- Event snippet for Aanmelden trial conversion page -->
<script>
function gtag_report_conversion(url) {
  var callback = function () {
    if (typeof(url) != 'undefined') {
      window.location = url;
    }
  };
  gtag('event', 'conversion', {
      'send_to': 'AW-939056778/1No6CL6umIsBEIq9478D',
      'event_callback': callback
  });
  return false;
}
</script>
<!-- End Event snippet for Aanmelden trial conversion page -->

<!-- Freshchat -->
<script>
  function initFreshChat() {
    window.fcWidget.init({
      token: "18120d0b-ecd8-451d-ab40-56412770be6e",
      host: "https://wchat.freshchat.com"
    });
  }
  function initialize(i,t){var e;i.getElementById(t)?initFreshChat():((e=i.createElement("script")).id=t,e.async=!0,e.src="https://wchat.freshchat.com/js/widget.js",e.onload=initFreshChat,i.head.appendChild(e))}function initiateCall(){initialize(document,"freshchat-js-sdk")}window.addEventListener?window.addEventListener("load",initiateCall,!1):window.attachEvent("load",initiateCall,!1);
</script>
<!-- End Freshchat -->

<!-- Drip -->
<script type="text/javascript"> /* Drip */
    var _dcq = _dcq || [];
    var _dcs = _dcs || {}; 
    _dcs.account = '6523352';
  (function() {
      var dc = document.createElement('script');
      dc.type = 'text/javascript'; dc.async = true; 
      dc.src = '//tag.getdrip.com/6523352.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(dc, s);
          })();
</script>
<!-- End Drip -->

<!-- Hotjar -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:311042,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
<!-- End Hotjar -->

<div class="container">
  <div class="topbar-left">
    <a class="topbar-brand" 
       href="/index.html">
      <img class="logo-default" 
           src="/assets/img/crafter/Crafter_digitale_werkbon_app_logo.png" 
           alt="logo">
    </a>  
  </div>
  <div class="topbar-right">
    <button class="topbar-toggler pt-7">&#9776;</button>
    <ul class="topbar-nav nav">
      <li class="nav-item">
        <a class="nav-link"                    
           href="/functies/digitale-werkbon-app.html">
          Ontdek
        </a>
        <div class="cr-nav-hidden">
          <ul>
            <li class="nav-item mt-16">
              <a class="nav-link" 
                 href="/functies/digitale-werkbon-app.html">
                Werkbon app
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                 href="/functies/planning-software.html">
                Planning software
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                 href="/functies/project-management-tool.html">
                Project management tool
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                 href="/functies/project-planning-app.html">
                Project planning app
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                 href="/functies/offerte-tool.html">
                Offerte tool
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                 href="/functies/facturatie-software.html">
                Facturatie software
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-0" 
                 href="/functies/crm-systeem.html">
                CRM & Objectbeheer
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link mb-0" 
                 href="/functies/urenregistratie-app.html">
                Urenregistratie
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
           href="/over.html">
          Onze visie
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
           href="/online-demo.html">
          Plan je demo
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
           href="/tarieven.html">
          Prijs
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
           href="https://support.getcrafter.nl">
          Kennisbank
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" 
           target="_blank" 
           href="https://web.crafterwerkbon.nl">
          Login
        </a>
      </li>
    </ul>  
  </div>
</div>