<div class="container cr-trial-container">
  <header class="cr-home-trial-section">
    <h2 class="text-white">
      Maak vandaag nog jouw bedrijf efficiënter.
    </h2>
    <p class="cr-home-header-lead cr-home-app-lead text-muted">
      Krijg meer gedaan, in minder tijd. Verminder administratieve handelingen. Voorkom fouten. Kortom: Altijd je werk op orde. Ontdek het nu!
    </p>
    <h3 class="cr-home-trial-title text-white">
      Probeer nu 14 dagen gratis!
    </h3>
  </header>
  <form class="row cr-trial-form" 
        method="post" 
        action="https://web.crafterwerkbon.nl/demo/nieuw/"
        id="trial-form">
    <div class="col-lg-2 col-md-4 col-xs-1 cta-fields">
      <input type="text" 
             class="form-control" 
             name="first_name" 
             placeholder="Voornaam*"
             required>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-1 cta-fields">
      <input type="text" 
             class="form-control" 
             name="last_name" 
             placeholder="Achternaam*"
             required>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-1 cta-fields">
      <input type="text" 
             class="form-control" 
             name="name" 
             placeholder="Bedrijfsnaam*"
             required>
    </div>          
    <div class="col-lg-2 col-md-4 col-xs-1 cta-fields">
      <input type="text" 
             class="form-control" 
             name="client_email" 
             placeholder="E-mail adres*"
             required>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-1 cta-fields">
      <input type="password" 
             class="form-control" 
             name="password" 
             placeholder="Wachtwoord*"
             required>
    </div>
    <div class="col-lg-2 col-md-4 col-xs-1 cta-fields">
      <button class="g-recaptcha btn btn-block btn-danger mainbtn btn-info cta-button text-center plr-0"
              data-sitekey="6LfB5cUUAAAAAPghQiy3h2HStNE93fi45FmA_qch"
              data-callback='onSubmit'>
        Gratis aanmelden
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </form>
<!--
  <div class="col-12 text-center">
    <div class="cr-header-cta-text text-muted integrations-cta">
      Uiteraard Gratis En Geheel Vrijblijvend.
    </div>
  </div>
-->
</div>