
.thesaas-sections-split .section {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

@media (max-width: 768px) {

  .thesaas-sections-split .section {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

}

.btn-danger, .btn-danger:hover {
    background-color: #2a2e3d;
}

.btn-login {
    height: 30px;
}

.btn-margin {
    margin-left: 22px;
}

.btn-outline.btn-danger {
    color: #2a2e3d;
    background-color: transparent;
    border-color: #2a2e3d;
    opacity: 0.6;
}

.btn-outline.btn-danger:hover {
    color: #fff;
    background-color: #2a2e3d;
    border-color: #2a2e3d;
    opacity: 1;
    box-shadow: 0 2px 10px #AAABB1;
}

.topbar-nav .nav-link {
    color: #1a1d27;
}

.h1 {
    color: #2a2e3d;
}

.h2 {
    color: #2a2e3d;
}

.header-bg {
    background-color: #fc632a;
}

.mainbtn, .mainbtn:hover {
    background-color: #fc662a;
    border-color: #fc662a;
}

.mainbtn:hover {
    box-shadow: 0 2px 10px #FEC2AA;
}

.meest-gekozen {
    color: #fc662a;
}

.p {
    color: #2a2e3d;
}

.padding-page {
    padding-top: 110px;
    padding-bottom: 60px;
}

.section-pd-bttm {
    padding-bottom: 0px;
}

.divider1 {
    margin-bottom: 60px;
    margin-top: 60px;
}

.columnhalf {
    flex: 0 0 50%;
    max-width: 50%;
}

.fi-middle {
    margin-bottom: 0px;
}

.padding-lr {
    padding-left: 30px;
    padding-right: 30px;
}

.small-white {
    opacity: 1.0;
    color: #ffffff;
}

.text-white {
    color: #ffffff;
}

.pd-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.margin-15 {
    margin-bottom: 15px;
}

.dropdown {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;  
    border-radius: 2px;
}

.margin-4 {
    margin-right: 4px;
}

.left-content {
    justify-content: inherit;
}

.width-42 {
    min-width: 42px;
    max-width: 43px;
}

.img-fw {
    min-width: 100%;
}

.intgr-pd {
    padding-top: 12px;
    padding-bottom: 3px;
}

.text-crf-black {
    color: #2a2e3d;
}

.pd-flag {
    padding-bottom: 4px;
}

.site_footer_items {
    vertical-align: baseline;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0;
    border-right-width: 0;
}
.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius:0;
    border-bottom-left-radius:0px;
}
.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius:0px;
    border-bottom-left-radius:0;
    border-right-width: 0px;
}

.list-group-item {
    padding: 0 0;
    margin-bottom: 0px;
    background-color: #fff;
    border: 0px;
}

.after::after {
    content: "•";
    color: #2a2e3d;
    top: 1px;
    bottom: 1px;
    right: 5px;
    width: 5px;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
}

.al-left {
    padding-left: 0px;
}

.footer-divider {
    border-top-color: #ebebeb;
    border-top-style: solid;
    border-top-width: 1px;
    box-sizing: border-box;
    padding-bottom: 15px;
}

.pd-footer {
    padding-top: 12px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

.mg-footer {
    margin-bottom: 0px;
}

.pd-bttm-footer {
    padding-bottom: 0px;
}

.al-right {
    float: right;
}

.bt-1 {
    border-top: 1px solid #ebebeb;
}

.nav-link:hover, .nav-link:focus, .nav-link.active {
    color: #fc662a;
}

.font-footer {
    font-size: 13px;
    font-weight: 300;
    line-height: 28.5px;
}

.align-top {
    text-align: start;
}

.pd-footer-big {
    padding-top: 35px;
    padding-bottom: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pd-footer-sales {
    padding-bottom: 18px;
}

.pd-footer-right {
    padding-right: 0px;
}

.pd-hand {
    padding-bottom: 0px;
}

.pd-hand-image {
    padding-bottom: 0px !important;
}

.m-hand {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.questions {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 20px;
    color: #2a2e3d;
}

.p-questions {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 30px;
}

.a-questions {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 28px;
    color: #fc662a;
}

.pd-questions {
    padding-top: 90px;
    padding-bottom: 90px;
}

.br-1 {
    border-right: 1px solid #ebebeb;
}

.mb-highlights {
    margin-bottom: 15px !important;
}

.p-highlights {
    line-height: 32px;
}

pd-box {
    padding-right: 60px !important;
    padding-left: 60px !important;
}

.text-small {
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    color: #2a2e3d;
}

.pd-pricing-text {
    padding-left: 15px;
    padding-right: 15px;
}

.pricing-subtitle {
    font-weight: 400;
    margin-bottom: 8px !important;
}

.pricing-color {
    color: #2a2e3d;
}

.pricing-price {
    color: #fc662a;
}

.pricing-voorw {
    font-size: 12px;
    font-weight: 300;
    line-height: 6px;
    color: #2a2e3d
}

.pricing-button, .pricing-button:hover {
    background-color: #2a2e3d;
    border-color: #2a2e3d;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.pricing-button:hover {
    box-shadow: 0 2px 10px #AAABB1;    
}


.m-pricing-small {
    margin-bottom: 0px !important;
    padding-bottom: 6px;
}

.pricing-from {
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    color: #fc662a;
    margin-top: 43px;
    margin-right: 0px;
}

.link-hover:hover {
    color: #2a2e3d;
}

.link-icon {
    font-size: 9px;
    vertical-align: middle;
    align-items: center;
    padding-left: 6px !important;
}

.meest-gekozen {
    font-weight: 400;
    margin-top: 12px;
    padding-bottom: 8px;
    margin-bottom: 0px !important;
    color: #fc662a;
}

.pricing-prof {
    padding-top: 0px !important;
}

.niet-meest-gekozen {
    margin-top: 28px;
}

.index-jouw-pakket {
    padding-top: 5px;
    margin-bottom: 3px;
}

.questions-title {
    font-size: 20px;
    font-weight: 600 !important;
    margin-bottom: 30px;
}

.partner-sm img {
    height: 30px !important;
}

a img.hover {
    display: none;
}

a img.default {
    display: inherit;
}

a:hover img.hover {
    display: inherit;
}

a:hover img.default {
    display: none;
}

.pricing-pd-bttm {
    padding-bottom: 45px !important;
}

.cta-button {
    height: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.cta-main {
    margin: auto !important;
}

.cta-text {
    color: #ffffff;
}

.cta-color {
    background-color: #2a2e3d;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.cta-fields {
    padding-left: 3px;
    padding-right: 3px;
}

.form-control {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    font-weight: 500;
}

.form-control:focus {
    border-color: #fc662a;
    color: #2a2e3d;
    font-weight: 500;
}

.form-control:hover {
    border-color: #fc662a;
}

.cta-border {
    border-top-color: #b5b9bf;
    color: #b5b9bf;
}

.cta-arrow {
    font-size: 10px !important;
    vertical-align: middle !important;
    align-items: center !important;
    padding-left: 6px !important;
    padding-bottom: 2px !important;
}

.cta-button:hover {
    box-shadow: 0 2px 10px #555864;
}

.nav-link-disabled {
    color: #1a1d27 !important;
}

.nav-link-disabled:hover {
    color: #fc662a !important;
}

.text-about {
    text-align: left;
}

.link-about {
    color: #fc662a !important;
}

.link-about:hover {
    color: #2a2e3d;
}

.why-margin-0 {
    margin-bottom: 0px;
}

.integrations-logo {
    max-width: 20%;
}

.integrations-nav {
    color: #fff !important;
}

.integrations-header {
    padding-top: 150px;
}

.w-500 {
    width: 500px !important;
}

.w-800 {
    width: 800px !important;
}

.pd-40-0 {
    padding-top: 40px !important;
    padding-bottom: 0px !important;
}

.color-orange {
    color: #fc662a !important;
}

.text-left {
    text-align: left;
}

.text-voordelen {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    max-width: 100%;
}

.topbar-logo {
    max-height: 32px !important;
    opacity: 0.6;
}

.topbar-logo:hover {
    opacity: 1;
}

.integrations-cta {
    padding-top: 45px;
    margin-bottom: 0px !important;
}

.btn-white, .btn-white:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

.pd-sup-btn {
    padding-top: 20px;
}

.sup-btn, .sup-btn:hover, {
    color: #ffffff !important;
}

.pd-btm-90 {
    padding-bottom: 90px;
}

.pd-50 {
    padding-bottom: 50px !important;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px !important;
}

.mg-bttm-20 {
    margin-bottom: 20px;
}

.mg-bttm-30 {
    margin-bottom: 30px;
}

.mg-bttm-0 {
    margin-bottom: 0px !important;
}

.box-radius {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.mg-top-10 {
    margin-top: 10px;
}

.box-color {
    border-bottom-color: #ececec;
    border-top-color: #ececec; 
    border-left-color: #ececec;
    border-right-color: #ececec;
}

.p-nav {
    font-size: 13px;
    font-weight: 300;
    line-height: 34px;
    color: #2a2e3d;
}

.p-nav:hover {
    color: #fc662a;
}

.p-nav-active, p-nav-active:hover {
    font-size: 13px;
    font-weight: 400;
    line-height: 34px;
    color: #fc662a;
}

.back {
    color: #2a2e3d;
    padding-bottom: 30px !important;
    margin-bottom: 20px !important;
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-color: #ececec;
}

.back:hover {
    color: #fc662a;
}

.pd-kb {
    padding-top: 60px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bt-0 {
    margin-bottom: 0px !important;
}

.back-box {
    color: #2a2e3d;
    padding-bottom: 20px !important;
    margin-bottom: 30px !important;
}

.job-title {
    max-width: 175px;
}

.author {
    margin-left: 0px;
}

.article-date {
    align-content: right;
}

.author-box {
    padding-top: 0px;
    padding-bottom: 34px;
}

.lh-normal {
    line-height: normal;
}

.pd-top-2 {
    padding-top: 2px;
}

.sup-pd-top {
    padding-top: 45px;
}

.fs-32 {
    font-size: 32px;
}

.p {
    color: #2a2e3d;
}

.strong {
    color: #2a2e3d;
}

.h1 {
    color: #2a2e3d !important;
}

.h3 {
    color: #2a2e3d;
}

.ti-angle-left {
    font-size: 13px;
}

.break {
    padding-top: 40px;
}

.sm-break {
    padding-top: 16px;
}

.text-orange {
    color: #fc662a;
}

.text-orange:hover {
    color: #2a2e3d;
}

.kb-ol {
    padding-left: 16px;
}

.kb-li {
    padding-left: 10px;
}

.img-break {
    margin-top: 16px;
    margin-bottom: 16px;
}

.rf-height {
    min-height: 84px;
}

.pd-main {
    padding-bottom: 45px;
}

.text-black {
    color: #2a2e3d !important;
}

.card-text {
    color: #2a2e3d !important;
}

.card-text:hover {
    color: #fc662a !important;
}

.mg-15 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.card-text-orange {
    color: #fc662a;
}

.form-control {
    color: #2a2e3d;
}

placeholder {
    color: #b5b9bf;
}

.w-600 {
    width: 700px !important;
}

.mt-24 {
    margin-top: 24px;
}

.p-nav-text {
    color: #2a2e3d;
    text-decoration: underline;
    
}

.p-nav-text:hover, .p-nav-text:active, .p-nav-text:focus {
    color: #fc662a;
    text-decoration: underline;
}

.img-break-top {
    margin-top: 0px !important;
}

.nav-afas {
    color: #005FB1 !important;
}

.nav-gilde {
    color: #6B0060 !important;
}

.video-pd-btm {
    padding-bottom: 90px;
}

a:active {
    color: #fc662a !important;
}

a:focus {
    color: #fc662a !important;
}

td {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}

.td-toptitle {
    font-size: 16px;
    font-weight: 400 !important;
    color: #2a2e3d;
}


.td-title {
    font-size: 14px;
    font-weight: 300 !important;
    color: #2a2e3d;
}

.td-head {
    color: #2a2e3d;
    text-align: center;
}

.td-text {
    text-align: center;
    align-content: center;
}

.pricing-text {
    font-size: 15px;
}

.pric-nh {
    box-shadow: 0 0 0px rgba(0,0,0,0) !important;
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
}

.table th, .table td { 
     border-top: none !important; 
 }

.bl-1 {
    border-left: 1px solid #ebebeb;
}

table {
    border:none;
    border-collapse: collapse;
}

table td {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

.text-white {
    color: #fff;
}

table.table.table-condensed {
    border: 1px solid #ebebeb;
}

.table-mb-0 {
    margin-bottom: 0px;
}

.td-top-outline {
    padding-left: 12px;
    margin-bottom: 12px;
}

.pd-l-0 {
    padding-left: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.pricing-btn, .pricing-btn:hover {
    background-color: #2a2e3d;
    border-color: #2a2e3d;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.pricing-btn:hover {
    box-shadow: 0 2px 10px #AAABB1;    
}

.pricing-bg {
    background-color: #fcfdfe;
    padding-top: 12px;
    margin-top: 0px;
}

.mail-contact {
    color: #2a2e3d;
}

.mail-contact:hover {
    color: #fc662a;
}

.mail-contact:focus {
    color: #fc662a;
}

.mail-contact:active {
    color: #fc662a;
}

.gmaps {
    position: fixed;
}

.pd-r-40 {
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.text-left {
    text-align: left;
}

.link-orange {
    color: #fc662a !important;
}

.link-orange:hover {
    color: #2a2e3d !important;
}

.mb-6 {
    margin-bottom: 6px;
}

.wizard a {
    padding: 10px 12px 10px;
    margin-right: 1px;
    background: #f7f7f7;
    position: relative;
    display: inline-block;
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 22px inset transparent;
    border-bottom: 22px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 22px inset transparent;
    border-bottom: 22px inset transparent;
    border-left: 20px solid #f7f7f7;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard a:first-child {
    -webkit-border-radius: 2px 0 0 2px;
       -moz-border-radius: 2px 0 0 2px;
            border-radius: 2px 0 0 2px;
}
.wizard a:last-child {
    -webkit-border-radius: 0 2px 2px 0;
       -moz-border-radius: 0 2px 2px 0;
            border-radius: 0 2px 2px 0;
}
.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}
.wizard a:first-child .badge {
    margin-left: 0;
}
.wizard .current {
    background: #2a2e3d;
    color: #fff !important;
}
.wizard .current:after {
    border-left-color: #2a2e3d;
}

.table-bordered {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.table-bordered-selected {
    border-top: 1px solid #fc662a;
    border-bottom: 1px solid #fc662a;
    border-left: 1px solid #fc662a;
    border-right: 1px solid #fc662a;
}

.table-card:hover {
    border-top: 1px solid #fc662a;
    border-bottom: 1px solid #fc662a;
    border-left: 1px solid #fc662a;
    border-right: 1px solid #fc662a;
}

.align-center {
    align-content: center !important;
    text-align: center;
    display: inline-block;
}

.pd-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.pt-0 {
    padding-top: 0px;
}

.pl-0 {
    padding-left: 0px;
}

.text-grey {
    color: #ebebeb;
}

.text-cart-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #2a2e3d;
}

.text-cart-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #fc662a;
    text-align: right;
    margin-top: 11px;
    margin-bottom: 0px;
}

.text-cart-mnd {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    color: #fc662a;
    text-align: right;
}

.text-cart-mnd-blk {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    color: #2a2e3d;
    text-align: right;
}

.text-small-bold {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #2a2e3d;
}

.text-small-semibold {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #2a2e3d;
}

.text-small-light {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #2a2e3d;
}

.text-upgrade {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    color: #fc662a;
    text-align: left;
}

.pd-20 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.bg-lightgrey {
    background-color: #fcfdfe;
}

.mb-8 {
    margin-bottom: 8px;
}

.w-70 {
    width: 70px !important;
}

.table-cart-check {
    width: 30px !important;
    border-right: 0px;
}

.table-cart-text {
    border-left: 0px;
}

.no-borders {
    border-bottom: none !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

.mt-6 {
    margin-top: 6px;
}

.mb-6 {
    margin-bottom: 6px;
}

.ml-6 {
    margin-left: 6px;
}

.mr-0 {
    margin-right: 0px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-16 {
    margin-bottom: 16px;
}

.cart-toptitle {
    font-size: 22px;
}

.mt-0 {
    margin-top: 0px !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-19 {
    margin-top: 19px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-23 {
    margin-top: 23px;
}

.mt-30 {
    margin-top: 30px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mtb-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mlr-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.w-15 {
    width: 15px !important;
}

.td-checkbox {
    width: 30px;
}

.text-disabled {
    color: #9b9b9b;
}

.pt-0 {
    padding-top: 0px !important;
}

.pt-8 {
    padding-top: 8px;
}

.pt-12 {
    padding-top: 12px;
}

.pt-45 {
    padding-top: 45px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pr-0 {
    padding-right: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pb-4 {
    padding-bottom: 4px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-17 {
    padding-left: 17px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pl-20 {
    padding-left: 12px;
}

.pt-26 {
    padding-top: 26px;
}

.pl-40 {
    padding-left: 40px;
}

.plr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pt-15 {
    padding-top: 15px;
}

.text-cart-inv {
    color: #fcfdfe;
}

.custom-checkbox::after {
    color: #fc662a !important;
}

.custom-checkbox-square::after {
    background-color: #fc662a !important;
    width: 82% !important;
    height: 85% !important;
}

.custom-control-input:disabled~.custom-control-indicator {
    background-color: #f8f8f8;
    margin-top: 16px;
}

.custom-checkbox-border {
    border-top: 1px solid #ebebeb !important;
    border-bottom: 1px solid #ebebeb !important;
    border-left: 1px solid #ebebeb !important;
    border-right: 1px solid #ebebeb !important;
}

.custom-radio .custom-control-indicator::after {
    background-color: #fc662a;
}

.form-licenties {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    font-size: 13px;
}

.form-licenties::placeholder {
    color: #2a2e3d;
}

.form-details {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 20px;
    height: 48px;
    font-size: 13px;
}

a, .btn-thirdly:hover {
    color: #b5b9bf;
}

a, span, .badge-custom {
    color: #2a2e3d;
    padding-left 1px !important;
    padding-right 1px !important;
    margin-right: 0px !important;
}

.pr-steps {
    padding-right: 18px !important;
}

.pr-steps:active {
    color: inherit !important;
}

.current:active {
    color: #fff !important;
}

.btn-thirdly:active {
    color: #b5b9bf !important;
}

.btn-thirdly:focus {
    color: #b5b9bf !important;
}

.btn-fourthly {
    border-top: 1px solid #ebebeb !important;
    border-bottom: 1px solid #ebebeb !important;
    border-left: 1px solid #ebebeb !important;
    border-right: 1px solid #ebebeb !important;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;  
    border-radius: 2px;
    color: #b5b9bf;
    width: 137px;
}

.btn-fourthly:hover {
    color: #b5b9bf;
}

.btn-fourthly:active {
    color: #b5b9bf !important;
}

.btn-fourthly:focus {
    color: #b5b9bf !important;
}

.mainbtn:focus {
    color: #fff !important;
}

.btn-primary:focus {
    color: #fff !important;
}

.order-step, .summary-step {
    display: none;
}

.order-step.active, .summary-step.active {
    display: block;
}

.hidden
{
   display: none
}

.pr-steps.current {
    cursor: pointer;
}

.pr-steps.current:has(+ :not(.current)) {
    cursor: initial;
}

.module-summary-box {
    display: none;
}

#integration-summary-box {
    display: none;
}

.table-duration:not(.table-bordered-selected), 
.table-duration:not(.table-bordered-selected) label {
    cursor: pointer;
}

.table-paymentterm:not(.table-bordered-selected), 
.table-paymentterm:not(.table-bordered-selected) label {
    cursor: pointer;
}

.table-package:not(.table-bordered-selected), 
.table-package:not(.table-bordered-selected) label {
    cursor: pointer;
}

.table-consultancy:not(.table-bordered-selected), 
.table-consultancy:not(.table-bordered-selected) label {
    cursor: pointer;
}
