@font-face {
  font-family: 'GothamLight';
  src: url('../fonts/GothamLight.otf');
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/Gotham-Book.otf');
  src: url('../fonts/GothamBook.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'GothamMedium';
  src: url('../fonts/GothamMedium.otf');
  font-style: normal;
}

h1, .h1 {
  color: #202020;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.16;
  text-align: center;
  margin: 0 auto 24px;
}

h2 {
  color: #202020;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
  font-weight: 600;
  font-size: 38px;
  line-height: 1.16;
  text-align: center;
  margin: 0 auto 24px;
}

@media (min-width: 769px) {
  h1, .h1, h2 {
    font-size: 64px;
    line-height: 1.09;
  }
}

h3 {
  color: #202020;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-top: 60px;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
}

.thesaas-sections-split .section {
  margin: 30px 50px 100px;
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border: 1px solid #ebebeb;
}

.thesaas-sections-split .section-info {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 60px;
}

@media (max-width: 768px) {
  .thesaas-sections-split .section {
    margin: 30px 0 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
}

.btn-danger, .btn-danger:hover {
    background-color: #2a2e3d;
}

.btn-login {
    height: 30px;
}

.btn-margin {
    margin-left: 22px;
}

.btn-outline.btn-danger {
    color: #2a2e3d;
    background-color: transparent;
    border-color: #2a2e3d;
    opacity: 0.6;
}

.btn-outline.btn-danger:hover {
    color: #fff;
    background-color: #2a2e3d;
    border-color: #2a2e3d;
    opacity: 1;
    box-shadow: 0 2px 10px #AAABB1;
}

.topbar-nav .nav-link {
    color: #1a1d27;
}

.cr-header {
  padding-top: 120px;
}

@media (min-width: 1441px) {
  .cr-header {
    padding-top: 180px;
  }
}

.cr-header-left {
  margin-bottom: 64px;
}

@media (min-width: 769px) {
  .cr-header-left {
    margin-bottom: 0px;
  }
}

.cr-home-trial-section {
  text-align: center;
  max-width: 70%;
  margin: 0 auto;
}

.btn-danger, .btn-danger:hover {
  background-color: #fc662a;
}

.clients {
  position: relative;
  z-index: 1;
}

.client-wrapper {
  padding: 20px 0;
}

.clientlogos-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
}

@media (min-width: 992px) {
  .clientlogos-wrapper {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: row;
    flex-flow: row;
  }
}

.clientlogos-wrapper-cta {
  flex-flow: column;
}

.clientlogos-title {
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  color: #8e8e93;
  margin: 0 0 20px;
  text-align: center;
}

@media (min-width: 992px) {
  .clientlogos-title {
    margin: 0 48px 0 0;
    text-align: left;
  }
}

.clientlogos-list {
  display: flex;
  flex: 1 1 auto;
  -ms-flex-wrap: wrap;
  margin-bottom: 0px;
  padding-left: 0px;
  flex-wrap: wrap;
}

@media (min-width: 992px) {
  .clientlogos-list {
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

.clientlogos-listitem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.333%;
  padding: 12px;
}

@media (min-width: 992px) {
  .clientlogos-listitem {
    width: auto;
    padding: 12px 0;
  }
}

.clientlogos-listitem-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.333%;
  padding: 12px;
}

@media (min-width: 992px) {
  .clientlogos-listitem-cta {
    width: auto;
    padding: 12px;
  }
}


.clientlogos {
  max-width: 100%;
}

.cr-header-image {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.cr-header-image-div::before {
  position: absolute;
  top: 0;
  right: -25%;
  bottom: 0;
  left: -25%;
  background-image: radial-gradient(ellipse at bottom,#eaeaea,#fff 50%);
  content: '';
  z-index: -1;
}

.cr-home-app-image {
  margin-top: 36px;
  margin-bottom: 36px;
}

.cr-home-header-lead {
  font-size: 18px;
  font-family: "Gotham Book","Dosis","Open Sans",sans-serif;
  color: #8e8e93;
  text-align: center;
  line-height: 1.47;
  margin: 0 0 32px;
}

.cr-home-app-lead {
  max-width: 640px;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .cr-home-app-lead {
    font-size: 20px;
    line-height: 1.6;
  }
}

.cr-background-flamco {
  background-color: #F02129;
}

.cr-background-botanico {
  background-color: #03A432;
}

.cr-home-reference {
  max-width: 70%;
  margin: 0 auto;
}

.cr-home-reference-name {
  padding-top: 16px;
  padding-bottom: 24px;
}

.cr-home-reference-text {
  font-size: 34px;
  font-family: "Gotham Book","Dosis","Open Sans",sans-serif;
  color: #ffffff;
  text-align: left;
  line-height: 1.6;
}

@media (max-width: 992px) {
  .cr-home-reference-text {
    font-size: 22px;
    line-height: 1.6;
  }
}

@media (max-width: 1279px) {
  .cr-home-reference-text {
    font-size: 26px;
    line-height: 1.6;
  }
}

.cr-header-title {
  color: #2a2e3d;
  font-family: "Gotham Book","Dosis","Open Sans",sans-serif;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.5rem;
  text-align: left;
}

.cr-header-lead {
  font-size: 1rem;
  text-align: left;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #2a2e3d;
}

.cr-home-header-cta-btn {
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 58px;
  padding-right: 58px;
  font-size: 0.9rem;
  background-color: #fc662a;
  border-color: #fc662a;
  cursor: pointer;
  text-align: center;
}

.cr-header-cta-btn {
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 36px;
  font-size: 0.9rem;
  background-color: #fc662a;
  border-color: #fc662a;
  cursor: pointer;
}

.cr-header-cta-btn:hover {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
  box-shadow: 0 2px 10px #9b9b9b;
}

.cr-header-cta-text {
  color: #fc662a;
  font-family: "Gotham Book","Dosis","Open Sans",sans-serif;
  font-size: 1rem;
  padding-top: 0.5rem;
}

.cr-header-image-div {
  text-align: right !important;
}

.header {
  padding: 120px 0;
}

@media (max-width: 767px) {
  .header {
    padding: 100px 0;
    padding-bottom: 50px;
  }
  .cr-header-title,
  .cr-header-lead {
    text-align: center;
  }
}

@media (max-width: 991px) {
  .header {
    padding: 123px 0;
    padding-bottom: 80px;
  }
  .cr-header-title,
  .cr-header-lead {
    text-align: center;
  }
}

.download-wrapper {
  position: relative;
  z-index: 1;
}

.downloadbtn-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column;
  flex-flow: column;
}

@media (min-width: 576px) {
  .downloadbtn-wrapper {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-flow: row;
  }
}

.downloadbtn-list {
  display: flex;
  flex: 1 1 auto;
  -ms-flex-wrap: wrap;
  margin-bottom: 0px;
  padding-left: 0px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.downloadbtn-listitem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
}

@media (min-width: 576px) {
  .downloadbtn-listitem {
    width: 50%;
    padding: 4px;
  }
}

.downloadbtn:hover {
  box-shadow: 0 2px 10px #AAABB1;
}

.downloadbtn-image {
  max-height: 50px;

}

@media (min-width: 576px) {
  .downloadbtn-image {
    height: 50px;
    max-width: 100%;
  }
}

.cr-discover {
  border-bottom: 1px solid #f1f2f3;
}

.cr-discover .row,
.cr-online-demonstratie .row {
  margin-left: 0px;
  margin-right: 0px;
}

.cr-discover-title {
  color: #2a2e3d;
  font-size: 16px;
  font-family: "GothamMedium","Dosis","Open Sans",sans-serif; 
  font-weight: 500;
}

.cr-discover-text {
  color: #2a2e3d;
  font-size: 14px;
  font-family: "Open Sans", sans-serif; 
  margin-bottom: 0px;
}

.cr-discover-div-lg {
  padding: 30px;
}

.cr-discover-div-middle-lg {
  padding-top: 20px;
  padding-bottom: 20px;
}

.cr-discover-div-md {
  padding: 15px;
}

.cr-discover-icon {
  font-size: 2rem;
  color: #2a2e3d;
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}

.cr-discover-img-sm {
  margin-top: 30px;
  margin-bottom: 75px;
}

.cr-discover-header {
  margin-bottom: 20px;
}

.cr-align-left {
  text-align: left;
}

.cr-align-right {
  text-align: right !important;
}

.cr-align-center {
  text-align: center;
}

.cr-discover-cta-btn {
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 36px;
  font-size: 0.8rem;
  background-color: #fc662a;
  border-color: #fc662a;
  cursor: pointer;
  color: fff;
}

.cr-discover-cta-btn:hover {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
  box-shadow: 0 2px 10px #9b9b9b;
}

.cr-online-demo-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.h2 {
  color: #2a2e3d;
}

.title-m {
  font-size: 24px;
}

.title-s {
  font-size: 18px;
  color: #2a2e3d;
}

.order-package-included {
  margin-bottom: 0px !important;
  text-align: left;
}

.order-check {
  color: #fc662a !important;
}

.pricing-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: #2a2e3d;
  padding: 16px;
  margin-top: 8px;
}

.title-xs {
  font-size: 16px;
}

.p-l {
  color: #2a2e3d !important;
}

.textcolor-darkblue {
  color: #2a2e3d !important;
}


.h3 {
  color: #2a2e3d;
  font-size: 1.5rem;
  font-family: "GothamMedium","Dosis","Open Sans",sans-serif; 
  font-weight: 500;
}

.header-bg {
    background-color: #fc632a;
}

.mainbtn {
  background-color: #fc662a;
  border-color: #fc662a;
  cursor: pointer;
}

.mainbtn:hover {
  background-color: #9b9b9b;
  border-color: #9b9b9b;
  box-shadow: 0 2px 10px #9b9b9b;
}

.cr-client-logo {
  padding-top: 15px;
  padding-bottom: 15px;
}

.p {
  color: #2a2e3d;
}

.p-lead {
  font-weight: 500px;
}

.padding-page {
    padding-top: 110px;
    padding-bottom: 60px;
}

.section-pd-bttm {
    padding-bottom: 0px;
}

.divider1 {
    margin-bottom: 60px;
    margin-top: 60px;
}

.columnhalf {
    flex: 0 0 50%;
    max-width: 50%;
}

.fi-middle {
    margin-bottom: 0px;
}

.padding-lr {
    padding-left: 30px;
    padding-right: 30px;
}

.small-white {
    opacity: 1.0;
    color: #ffffff;
}

.text-white {
    color: #ffffff;
}

.pd-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.margin-15 {
    margin-bottom: 15px;
}

.dropdown {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;  
    border-radius: 2px;
}

.margin-4 {
    margin-right: 4px;
}

.left-content {
    justify-content: inherit;
}

.width-30 {
    max-width: 30% !important;
}

.width-42 {
    min-width: 42px;
    max-width: 43px;
}

.img-fw {
    min-width: 100%;
}

.intgr-pd {
    padding-top: 12px;
    padding-bottom: 3px;
}

.text-crf-black {
    color: #2a2e3d;
}

.pd-flag {
    padding-bottom: 4px;
}

.site_footer_items {
    vertical-align: baseline;
}

.list-group-horizontal .list-group-item {
    display: inline-block;
}
.list-group-horizontal .list-group-item {
    margin-bottom: 0;
    margin-left: 0px;
    margin-right: 0;
    border-right-width: 0;
}
.list-group-horizontal .list-group-item:first-child {
    border-top-right-radius:0;
    border-bottom-left-radius:0px;
}
.list-group-horizontal .list-group-item:last-child {
    border-top-right-radius:0px;
    border-bottom-left-radius:0;
    border-right-width: 0px;
}

.list-group-item {
    padding: 0 0;
    margin-bottom: 0px;
    background-color: #fff;
    border: 0px;
}

.after::after {
    content: "•";
    color: #2a2e3d;
    top: 1px;
    bottom: 1px;
    right: 5px;
    width: 5px;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
}

.al-left {
    padding-left: 0px;
}

.footer-divider {
  border-top-color: #ebebeb;
  border-top-style: solid;
  border-top-width: 1px;
  box-sizing: border-box;
  padding-bottom: 15px;
}

.pd-footer {
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.topbar-toggler {
  padding-right: 0px;
}

.pt-7 {
  padding-top: 7px !important;
}

.mg-footer {
  margin-bottom: 0px; 
}

.cr-footer-div {
  padding-left: 0px;
  padding-bottom: 25px !important;
}

.pd-bttm-footer {
    padding-bottom: 0px;
}

.al-right {
    float: right;
}

.bt-1 {
    border-top: 1px solid #ebebeb;
}

.nav-link:hover, .nav-link:focus, .nav-link.active {
    color: #fc662a;
}

.font-footer {
    font-size: 13px;
    font-weight: 300;
    line-height: 28.5px;
}

.align-top {
    text-align: start;
}

.pd-footer-big {
    padding-top: 35px;
    padding-bottom: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.pd-footer-sales {
    padding-bottom: 18px;
}

.pd-footer-right {
    padding-right: 0px;
}

.pd-hand {
    padding-bottom: 0px;
}

.pd-hand-image {
    padding-bottom: 0px !important;
}

.m-hand {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.questions {
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 20px;
    color: #2a2e3d;
}

.p-questions {
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 30px;
}

.a-questions {
    font-size: 16px !important;
    font-weight: 500 !important;
    line-height: 28px;
    color: #fc662a;
}

.a-pricing {
  font-size: 14px !important;
  font-weight: 500 !important;
  line-height: 28px;
  color: #fc662a;
}

.pd-questions {
    padding-top: 90px;
    padding-bottom: 90px;
}

.br-1 {
    border-right: 1px solid #ebebeb;
}

.mb-highlights {
    margin-bottom: 15px !important;
}

.p-highlights {
    line-height: 32px;
}

pd-box {
    padding-right: 60px !important;
    padding-left: 60px !important;
}

.text-small {
    font-size: 13px;
    font-weight: 300;
    line-height: 24px;
    color: #2a2e3d;
}

.pricing-padding {
  padding-left: 30px;
  padding-right: 30px;
}

.pd-pricing-text {
  padding-left: 30px;
  padding-right: 30px;
}

.pricing-subtitle {
    font-weight: 400;
    margin-bottom: 8px !important;
}

.pricing-color {
    color: #2a2e3d;
}

.pricing-price {
    color: #fc662a;
}

.pricing-voorw {
    font-size: 12px;
    font-weight: 300;
    color: #2a2e3d
}

.pricing-button, .pricing-button:hover {
    background-color: #2a2e3d;
    border-color: #2a2e3d;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.pricing-button:hover {
    box-shadow: 0 2px 10px #AAABB1;    
}


.m-pricing-small {
    margin-bottom: 0px !important;
    padding-bottom: 6px;
}

.pricing-from {
    font-size: 13px;
    font-weight: 500;
    line-height: 24px;
    color: #fc662a;
    margin-top: 43px;
    margin-right: 0px;
}

.link-hover:hover {
    color: #2a2e3d;
}

.link-icon {
    font-size: 9px;
    vertical-align: middle;
    align-items: center;
    padding-left: 6px !important;
}

.vertical-middle {
  vertical-align: middle;
  padding-bottom: 2px;
}

.swiper-pagination-bullet {
  height: 8px;
  width: 8px;
}

.swiper-pagination-bullet-active {
  background: #fc662a;
}

.pricing-prof {
    padding-top: 0px !important;
}

.bg-orange {
  background-color: #fc662a;
}

.bg-darkblue {
  background-color: #2a2e3d;
}

.ptb-8 {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.niet-meest-gekozen {
    margin-top: 28px;
}

.index-jouw-pakket {
    padding-top: 5px;
    margin-bottom: 3px;
}

.questions-title {
    font-size: 20px;
    font-weight: 600 !important;
    margin-bottom: 30px;
}

.partner-sm img {
    height: 30px !important;
}

a img.hover {
    display: none;
}

a img.default {
    display: inherit;
}

a:hover img.hover {
    display: inherit;
}

a:hover img.default {
    display: none;
}

.pricing-pd-bttm {
    padding-bottom: 45px !important;
}

.cta-button {
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  .cta-button {
    font-size: 14px;
    padding-top: 12px;
  }
}

.cta-main {
    margin: auto !important;
}

.cta-text {
    color: #ffffff;
}

.cta-color {
    background-color: #2a2e3d;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.cta-fields {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.cr-trial-container {
  padding-left: 0px;
  padding-right: 0px;
}

.cr-trial-form {
  margin-left: 15px;
  margin-right: 15px;
}

.form-control {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    font-weight: 500;
}

.form-control:focus {
    border-color: #fc662a;
    color: #2a2e3d;
    font-weight: 500;
}

.form-control:hover {
    border-color: #fc662a;
}

.cta-border {
    border-top-color: #b5b9bf;
    color: #b5b9bf;
}

.cta-arrow {
    font-size: 10px !important;
    vertical-align: middle !important;
    align-items: center !important;
    padding-left: 6px !important;
    padding-bottom: 2px !important;
}

.cta-button:hover {
    box-shadow: 0 2px 10px #555864;
}

.nav-link-disabled {
    color: #1a1d27 !important;
}

.nav-link-disabled:hover {
    color: #fc662a !important;
}

.text-about {
    text-align: left;
}

.link-about {
    color: #fc662a !important;
}

.link-about:hover {
    color: #2a2e3d;
}

.why-margin-0 {
    margin-bottom: 0px;
}

.integrations-logo {
    max-width: 20%;
}

@media (max-width: 768px) {
  .integrations-logo {
    max-width: 70%;
  }
}

@media (min-width: 768px) {
  .integrations-logo {
    max-width: 40%;
  }
}

@media (min-width: 1200px) {
  .integrations-logo {
    max-width: 20%;
  }
}

.integrations-nav {
    color: #fff !important;
}

.integrations-header {
    padding-top: 150px;
}

.w-500 {
    width: 500px !important;
}

.w-800 {
    width: 800px !important;
}

.pd-40-0 {
    padding-top: 40px !important;
    padding-bottom: 0px !important;
}

.color-orange {
    color: #fc662a !important;
}

.text-left {
    text-align: left;
}

.text-voordelen {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    max-width: 100%;
}

.topbar-logo {
    max-height: 32px !important;
    opacity: 0.6;
}

.topbar-logo:hover {
    opacity: 1;
}

.integrations-cta {
    padding-top: 45px;
    margin-bottom: 0px !important;
}

.btn-white, .btn-white:hover {
    background-color: #fff;
    border-color: #fff;
    color: #000;
}

.pd-sup-btn {
    padding-top: 20px;
}

.sup-btn, .sup-btn:hover, {
    color: #ffffff !important;
}

.pd-btm-90 {
    padding-bottom: 90px;
}

.pd-50 {
    padding-bottom: 50px !important;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px !important;
}

.mg-bttm-20 {
    margin-bottom: 20px;
}

.mg-bttm-30 {
    margin-bottom: 30px;
}

.mg-bttm-0 {
    margin-bottom: 0px !important;
}

.box-radius {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.mg-top-10 {
    margin-top: 10px;
}

.box-color {
    border-bottom-color: #ececec;
    border-top-color: #ececec; 
    border-left-color: #ececec;
    border-right-color: #ececec;
}

.p-nav {
    font-size: 13px;
    font-weight: 300;
    line-height: 34px;
    color: #2a2e3d;
}

.p-nav:hover {
    color: #fc662a;
}

.p-nav-active, p-nav-active:hover {
    font-size: 13px;
    font-weight: 400;
    line-height: 34px;
    color: #fc662a;
}

.back {
    color: #2a2e3d;
    padding-bottom: 30px !important;
    margin-bottom: 20px !important;
    border-style: solid;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-color: #ececec;
}

.back:hover {
    color: #fc662a;
}

.pd-kb {
    padding-top: 60px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-bt-0 {
    margin-bottom: 0px !important;
}

.back-box {
    color: #2a2e3d;
    padding-bottom: 20px !important;
    margin-bottom: 30px !important;
}

.job-title {
    max-width: 175px;
}

.author {
    margin-left: 0px;
}

.article-date {
    align-content: right;
}

.author-box {
    padding-top: 0px;
    padding-bottom: 34px;
}

.lh-normal {
    line-height: normal;
}

.pd-top-2 {
    padding-top: 2px;
}

.sup-pd-top {
    padding-top: 45px;
}

.fs-32 {
    font-size: 32px;
}

.p {
    color: #2a2e3d;
}

.strong {
    color: #2a2e3d;
}

.h1 {
    color: #2a2e3d !important;
}

.h3 {
    color: #2a2e3d;
}

.ti-angle-left {
    font-size: 13px;
}

.break {
    padding-top: 40px;
}

.sm-break {
    padding-top: 16px;
}

.text-orange {
    color: #fc662a;
}

.text-orange:hover {
    color: #2a2e3d;
}

.kb-ol {
    padding-left: 16px;
}

.kb-li {
    padding-left: 10px;
}

.img-break {
    margin-top: 16px;
    margin-bottom: 16px;
}

.rf-height {
    min-height: 84px;
}

.pd-main {
    padding-bottom: 45px;
}

.text-black {
    color: #2a2e3d !important;
}

.card-text {
    color: #2a2e3d !important;
}

.card-text:hover {
    color: #fc662a !important;
}

.mg-15 {
    margin-bottom: 15px;
    margin-top: 15px;
}

.card-text-orange {
    color: #fc662a;
}

.form-control {
    color: #2a2e3d;
}

placeholder {
    color: #b5b9bf;
}

.w-600 {
    width: 700px !important;
}

.mt-24 {
    margin-top: 24px;
}

.p-nav-text {
    color: #2a2e3d;
    text-decoration: underline;
    
}

.p-nav-text:hover, .p-nav-text:active, .p-nav-text:focus {
    color: #fc662a;
    text-decoration: underline;
}

.img-break-top {
    margin-top: 0px !important;
}

.nav-afas {
    color: #005FB1 !important;
}

.nav-lightspeed {
    color: #0D0F0F !important;
}

.nav-perfectview {
    color: #008CDA !important;
}

.nav-unit4-multivers {
    color: #6E7C84 !important;
}

.nav-snelstart {
    color: #006CC8 !important;
}

.nav-gilde {
    color: #6B0060 !important;
}

.video-pd-btm {
    padding-bottom: 90px;
}

a:active {
    color: #fc662a !important;
}

a:focus {
    color: #fc662a !important;
}

td {
    padding-bottom: 8px !important;
    padding-top: 8px !important;
}

.td-toptitle {
    font-size: 16px;
    font-weight: 400 !important;
    color: #2a2e3d;
}


.td-title {
    font-size: 14px;
    font-weight: 300 !important;
    color: #2a2e3d;
}

.td-head {
    color: #2a2e3d;
    text-align: center;
}

.td-text {
    text-align: center;
    align-content: center;
}

.pricing-text {
    font-size: 15px;
}

.pric-nh {
    box-shadow: 0 0 0px rgba(0,0,0,0) !important;
    border-top-width: 0px !important;
    border-bottom-width: 0px !important;
    border-right-width: 0px !important;
    border-left-width: 0px !important;
}

.table th, .table td { 
     border-top: none !important; 
 }

.bl-1 {
    border-left: 1px solid #ebebeb;
}

table {
    border:none;
    border-collapse: collapse;
}

table td {
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}

.text-white {
    color: #fff;
}

table.table.table-condensed {
    border: 1px solid #ebebeb;
}

table.disabled {
    opacity: 0.6!important;
    color: #9b9b9b!important;
    font-size: 14px!important;
    font-weight: 300!important;
    line-height: 24px!important;
}

table.disabled:hover {
    cursor: default!important;
    border: 1px solid rgba(0,0,0,0)!important;
}

.table-mb-0 {
    margin-bottom: 0px;
}

.td-top-outline {
    padding-left: 12px;
    margin-bottom: 12px;
}

.pd-l-0 {
    padding-left: 0px;
}

.mb-0 {
    margin-bottom: 0px;
}

.pricing-btn, .pricing-btn:hover {
    background-color: #2a2e3d;
    border-color: #2a2e3d;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.pricing-btn:hover {
    box-shadow: 0 2px 10px #AAABB1;    
}

.pricing-bg {
    background-color: #fcfdfe;
    padding-top: 12px;
    margin-top: 0px;
}

.mail-contact {
    color: #2a2e3d;
}

.mail-contact:hover {
    color: #fc662a;
}

.mail-contact:focus {
    color: #fc662a;
}

.mail-contact:active {
    color: #fc662a;
}

.gmaps {
    position: fixed;
}

.pd-r-40 {
    padding-right: 40px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.text-left {
    text-align: left;
}

.link-orange {
    color: #fc662a !important;
}

.link-orange:hover {
    color: #2a2e3d !important;
}

.mb-6 {
    margin-bottom: 6px;
}

.wizard a {
    padding: 10px 12px 10px;
    margin-right: 1px;
    background: #f7f7f7;
    position: relative;
    display: inline-block;
}
.wizard a:before {
    width: 0;
    height: 0;
    border-top: 22px inset transparent;
    border-bottom: 22px inset transparent;
    border-left: 20px solid #fff;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
}
.wizard a:after {
    width: 0;
    height: 0;
    border-top: 22px inset transparent;
    border-bottom: 22px inset transparent;
    border-left: 20px solid #f7f7f7;
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    z-index: 2;
}
.wizard a:first-child:before,
.wizard a:last-child:after {
    border: none;
}
.wizard a:first-child {
    -webkit-border-radius: 2px 0 0 2px;
       -moz-border-radius: 2px 0 0 2px;
            border-radius: 2px 0 0 2px;
}
.wizard a:last-child {
    -webkit-border-radius: 0 2px 2px 0;
       -moz-border-radius: 0 2px 2px 0;
            border-radius: 0 2px 2px 0;
}
.wizard .badge {
    margin: 0 5px 0 18px;
    position: relative;
    top: -1px;
}
.wizard a:first-child .badge {
    margin-left: 0;
}
.wizard .current {
    background: #2a2e3d;
    color: #fff !important;
}
.wizard .current:after {
    border-left-color: #2a2e3d;
}

.table-bordered {
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
}

.table-bordered-selected {
    border-top: 1px solid #fc662a;
    border-bottom: 1px solid #fc662a;
    border-left: 1px solid #fc662a;
    border-right: 1px solid #fc662a;
}

.table-card:hover {
    border-top: 1px solid #fc662a;
    border-bottom: 1px solid #fc662a;
    border-left: 1px solid #fc662a;
    border-right: 1px solid #fc662a;
}

.align-center {
    align-content: center !important;
    text-align: center;
    display: inline-block;
}

.pd-45 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.pt-0 {
    padding-top: 0px;
}

.pl-0 {
    padding-left: 0px;
}

.text-grey {
    color: #ebebeb;
}

.text-cart-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #2a2e3d;
}

.text-cart-price {
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    color: #fc662a;
    text-align: right;
    margin-top: 11px;
    margin-bottom: 0px;
}

.text-cart-mnd {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    color: #fc662a;
    text-align: right;
}

.text-cart-mnd-blk {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    color: #2a2e3d;
    text-align: right;
}

.text-small-bold {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #2a2e3d;
}

.text-small-semibold {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
    color: #2a2e3d;
}

.text-small-light {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #2a2e3d;
}

.text-upgrade {
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    color: #fc662a;
    text-align: left;
}

.pd-20 {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.bg-lightgrey {
    background-color: #fcfdfe;
}

.bg-eboekhouden {
    background-color: #344064 !important;
}

.mb-8 {
    margin-bottom: 8px;
}

.w-70 {
    width: 70px !important;
}

.table-cart-check {
    width: 30px !important;
    border-right: 0px;
}

.table-cart-text {
    border-left: 0px;
}

.no-borders {
    border-bottom: none !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
}

.mt-6 {
    margin-top: 6px;
}

.mb-6 {
    margin-bottom: 6px;
}

.ml-0 {
    margin-left: 0px !important;
}

.ml-4 {
    margin-left: 4px !important;
}

.ml-6 {
    margin-left: 6px;
}

.mr-0 {
    margin-right: 0px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-16 {
    margin-bottom: 16px;
}

.cart-toptitle {
    font-size: 22px;
}

.mt-0 {
    margin-top: 0px !important;
}

.mt-8 {
    margin-top: 8px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-19 {
    margin-top: 19px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-23 {
    margin-top: 23px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-74 {
    margin-top: 74px;
}

.mt-82 {
    margin-top: 82px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mtb-16 {
    margin-top: 16px;
    margin-bottom: 16px;
}

.mlr-0 {
    margin-left: 0px;
    margin-right: 0px;
}

.w-15 {
    width: 15px !important;
}

.td-checkbox {
    width: 30px;
}

.text-disabled {
    color: #9b9b9b;
}

.pt-0 {
    padding-top: 0px !important;
}

.pt-8 {
    padding-top: 8px;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-12 {
    padding-top: 12px;
}

.pt-45 {
    padding-top: 45px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pr-0 {
    padding-right: 0px !important;
}

.pb-0 {
    padding-bottom: 0px !important;
}

.pb-4 {
    padding-bottom: 4px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-17 {
    padding-left: 17px;
}

.pb-15 {
    padding-bottom: 15px;
}

.pb-22 {
    padding-bottom: 22px !important;
}

.pl-20 {
    padding-left: 12px;
}

.pt-26 {
    padding-top: 26px;
}

.pl-30 {
    padding-bottom: 30px !important;
}

.pl-40 {
    padding-left: 40px;
}

.plr-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pt-15 {
    padding-top: 15px;
}

.text-cart-inv {
    color: #fcfdfe;
}

.custom-checkbox::after {
    color: #fc662a !important;
}

.custom-checkbox-square::after {
    background-color: #fc662a !important;
    width: 82% !important;
    height: 85% !important;
}

.custom-control-input:disabled~.custom-control-indicator {
    background-color: #f8f8f8;
    margin-top: 16px;
}

.custom-checkbox-border {
    border-top: 1px solid #ebebeb !important;
    border-bottom: 1px solid #ebebeb !important;
    border-left: 1px solid #ebebeb !important;
    border-right: 1px solid #ebebeb !important;
}

.custom-radio .custom-control-indicator::after {
    background-color: #fc662a;
}

.form-licenties {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    height: 48px;
    font-size: 13px;
}

.form-licenties::placeholder {
    color: #2a2e3d;
}

.form-details {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 20px;
    height: 48px;
    font-size: 13px;
}

a, .btn-thirdly:hover {
    color: #b5b9bf;
}

a, span, .badge-custom {
    color: #2a2e3d;
    padding-left 1px !important;
    padding-right 1px !important;
    margin-right: 0px !important;
}

.pr-steps {
    padding-right: 18px !important;
}

.pr-steps:active {
    color: inherit !important;
}

.current:active {
    color: #fff !important;
}

.btn-thirdly:active {
    color: #b5b9bf !important;
}

.btn-thirdly:focus {
    color: #b5b9bf !important;
}

.btn-fourthly {
    border-top: 1px solid #ebebeb !important;
    border-bottom: 1px solid #ebebeb !important;
    border-left: 1px solid #ebebeb !important;
    border-right: 1px solid #ebebeb !important;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;  
    border-radius: 2px;
    color: #b5b9bf;
    width: 137px;
}

.btn-fourthly:hover {
    color: #b5b9bf;
}

.btn-fourthly:active {
    color: #b5b9bf !important;
}

.btn-fourthly:focus {
    color: #b5b9bf !important;
}

.mainbtn:focus {
    color: #fff !important;
}

.btn-primary:focus {
    color: #fff !important;
}

.order-step, .summary-step {
    display: none;
}

.order-step.active, .summary-step.active {
    display: block;
}

.hidden
{
   display: none
}

.pr-steps.current {
    cursor: pointer;
}

.pr-steps.current:has(+ :not(.current)) {
    cursor: initial;
}

.module-summary-box {
    display: none;
}

#integration-summary-box {
    display: none;
}

.table-duration:not(.table-bordered-selected), 
.table-duration:not(.table-bordered-selected) label {
    cursor: pointer;
}

.table-paymentterm:not(.table-bordered-selected), 
.table-paymentterm:not(.table-bordered-selected) label {
    cursor: pointer;
}

.table-package:not(.table-bordered-selected), 
.table-package:not(.table-bordered-selected) label {
    cursor: pointer;
}

.table-consultancy:not(.table-bordered-selected), 
.table-consultancy:not(.table-bordered-selected) label {
    cursor: pointer;
}

.pos-81 {
    top: 81px;
}

.card-bordered-darkgrey {
    border: 1px solid #ececec;
}

.fw-400 {
    font-weight: 400;
}

.pt-30 {
  padding-top: 30px;
}

.cr-functies-header {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1000px) {
  .cr-functies-container {
    padding-left: 15%;
    padding-right: 15%;
  }
}

@media (min-width: 1000px) {
  .cr-functies-header-left {
    padding-left: 15%;
    padding-right: 32px;
  }
}

@media (min-width: 1250px) {
  .cr-functies-header-left {
    padding-left: 20%;
    padding-right: 32px;
  }
}

@media (min-width: 1500px) {
  .cr-functies-header-left {
    padding-left: 30%;
    padding-right: 32px;
  }
}

.cr-functies-title {
  color: #2a2e3d;
  font-family: "Gotham Book","Dosis","Open Sans",sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 2.5rem;
  text-align: center;
}

.cr-functies-h1 {
  font-size: 18px;
  color: #616771;
  font-family: "GothamLight","Dosis","Open Sans",sans-serif;
  font-weight: 300;
  line-height: 2.5rem;
  text-align: left;
  margin-bottom: 0px;
}

.cr-functies-header-title {
  color: #2a2e3d;
  font-family: "Gotham Book","Dosis","Open Sans",sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 2.5rem;
  text-align: left;
}

.cr-functies-header-text {
  font-size: 18px;
  text-align: left;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  color: #2a2e3d;
}

.cr-functies-subtitle {
  color: #2a2e3d;
  font-family: "Gotham Book","Dosis","Open Sans",sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 2.5rem;
  text-align: left;
}

.cr-functies-cta-form {
  margin-left: 0px;
  margin-right: 0px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.cr-functies-hr {
  width: 80px;
  margin-left: 0px;
  margin-right: auto;
}

.cr-functies-cta-title {
  color: #fff;
  font-family: "Gotham Book","Dosis","Open Sans",sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 2.5rem;
  text-align: center;
}

.cr-functies-menu-ul {
  justify-content: center;
  display: flex;
}

.cr-functies-menu-li {
  list-style: none;
  padding-top: 30px;
  padding-bottom: 27px;
  padding-left: 40px;
  padding-right: 40px;
  line-height: 10px;
}

.cr-functies-menu-a {
  padding-top: 30px;
  padding-bottom: 27px;
  font-size: 16px;
  color: #616771;
  font-family: "GothamLight","Dosis","Open Sans",sans-serif;
  font-weight: 300;
  cursor: pointer;
}

.cr-functies-menu-li.active {
  border-bottom: 3px solid #fc662a;
  cursor: default;
}

.cr-functies-menu-li.active a {
  color: #fc662a;
  font-family: "Gotham Book","Dosis","Open Sans",sans-serif;
  font-weight: 400;
  cursor: default;
}

.cr-functies-menu-li a:hover {
  color: #fc662a;
}

@media (min-width: 992px) {
  .cr-nav-hidden {
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
}

@media (max-width: 992px) {
  .cr-functies-menu-ul {
    visibility: hidden;
    height: 0px;
  }
}

.font-size-16 {
  font-size: 16px
}

.font-size-18 {
  font-size: 18px
}

.padding-bottom-45 {
  padding-bottom: 45px;
}

@media (max-width: 768px) {
  .cr-functies-cta-btn {
    margin-bottom: 48px;
  }
}

.cr-pricing-bg-selfservice {
  background-color: #f8f9f9;
}

.cr-pricing-bg-tailored {
  background-image: linear-gradient(150deg, #fc662a 0%, #fd662a 100%);
}

.cr-pricing-main-title {
  color: #2a2e3d;
  font-size: 20px;
  font-family: "GothamMedium","Dosis","Open Sans",sans-serif; 
  font-weight: 500;
  margin-bottom: 0px;
  padding: 16px;
}

.text-gray {
  color: #616771;
}

.pt-0 {
  padding-top: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.bbr-0 {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-width: 0px;
}

.btr-0 {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-width: 0px;
}

.pricing-title {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  font-family: "GothamMedium","Dosis","Open Sans",sans-serif; 
  font-weight: 500;
}

.meest-gekozen {
  font-weight: 400;
  padding-top: 4px;
  padding-bottom: 12px;
  color: #fc662a;
}

.mtb-40 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.pricing-tab {
  margin-bottom: 30px;
  margin-top: 30px;
}

.cr-pricing-enterprise {
  background-color: #1a1d27;
  border-color: #1a1d27;
  color: #ffffff;
}

.cr-pricing-summary-text {
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #202020;
  margin-bottom: 0px;
}

.cr-pricing-title-text {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 30px;
  padding-bottom: 15px;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
  font-weight: 600;
  font-size: 28px;
  color: #202020;
}

.cr-pricing-request-text {
  margin-top: 10px;
  padding-top: 11px;
  font-size: 18px;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
}

.cr-pricing-currency-text {
  margin-top: 10px;
  font-size: 18px;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
}

.cr-pricing-price-text {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 44px !important;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
  line-height: 1;
  text-align: left;
}

.cr-pricing-term-text {
  margin-bottom: 0px;
  font-size: 12px;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
  font-weight: 400;
  color: #202020;
}

.cr-pricing-term-text.inactive {
  font-weight: 300;
  color: #8e8e93;
}

.cr-pricing-meest-gekozen {
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
}

.cr-pricing-packages-background {
  background-image: linear-gradient(150deg, #fc662a 0%, #fd662a 100%);
}

.cr-pricing-button-trial {
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 13px;
  background-color: #2a2e3d;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-transform: none;
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
  margin-top: 40px;
  margin-bottom: 40px;
}

.cr-pricing-button-trial.contact {
  background-color: #fc662a;
  color: #2a2e3d;
}

.cr-pricing-button-trial:hover,
.cr-pricing-button-trial:focus {
  background-color: #2a2e3d;
  color: #fff !important;
  box-shadow: none;
}

.cr-pricing-button-trial.contact:hover,
.cr-pricing-button-trial.contact:focus {
  background-color: #fc662a;
  color: #2a2e3d !important;
  box-shadow: none;
}

.cr-pricing-included-title {
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #202020;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.cr-pricing-included-text {
  font-family: -apple-system,BlinkMacSystemFont,"Helvetica","Arial",sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #202020;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

.cr-pricing-included-check {
  color: #fc662a;
  padding-right: 6px;
}

@media (min-width: 1200px) {
  .cr-pricing-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 90%;
    max-width: 100%;
  }
}

@media (min-width: 1500px) {
  .cr-pricing-container {
    padding-right: 15px;
    padding-left: 15px;
    width: 80%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .pricing-niet-meest-gekozen {
    margin-top: 40px;
  }
}

.pricing-button {
  margin-bottom: 0px !important;
}

.pricing-button:hover {
  margin-bottom: 0px !important;
}

.cr-pricing-highlight-text {
  font-size: 16px;
  font-family: "GothamLight","Dosis","Open Sans",sans-serif; 
  font-weight: 700;
}

.pb-24 {
  padding-bottom: 24px;
}

@media (min-width: 768px) {
  .cr-selfservice-package-included {
    padding-left: 40px;
  }
}

@media (min-width: 768px) {
  .cr-tailored-package-included {
    padding-left: 20px;
  }
}

.text-orange {
  color: #fc662a;
}

.cr-pricing-bg-selfservice > .pricing-1 {
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (max-width: 380px) {
  .integration-listitem {
    padding: 6px;
  }
}

@media (max-width: 380px) {
  .integration-link {
    padding: 12px;
  }
}

.topbar.topbar-inverse .topbar-brand .logo-default {
  display: none;
}

.body-scrolled .topbar.topbar-inverse.topbar-sticky .topbar-brand .logo-default {
  display: inline-block;
}



/* Integrations pages colors */


.exact-online .cr-header  {
  background-color: #E4171F;
}

.exact-online .cr-header-cta {
  background-color: #FFFFFF;
  border-color: #E4171F;
  color: #E4171F;
}

.exact-online .cr-header-cta:hover {
  background-color: #2a2e3d;
  border-color: #E4171F;
  color: #ffffff;
}

.exact-online .body-scrolled .topbar-nav .nav-link {
  color: #2a2e3d !important;
}

.eboekhouden .cr-header  {
  background-color: #3B496F;
}

.eboekhouden .cr-header-cta {
  background-color: #fc662a;
  border-color: #fc662a;
  color: #ffffff;
}

.eboekhouden .cr-header-cta:hover {
  background-color: #fc662a;
  border-color: #fc662a;
  color: #ffffff;
}

.eboekhouden .body-scrolled .topbar-nav .nav-link {
  color: #2a2e3d !important;
}

.snelstart .cr-header  {
  background-color: #E4171F;
}

.snelstart .cr-header-cta {
  background-color: #FFFFFF;
  border-color: #E4171F;
  color: #E4171F;
}

.snelstart .cr-header-cta:hover {
  background-color: #2a2e3d;
  border-color: #E4171F;
  color: #ffffff;
}

.snelstart .body-scrolled .topbar-nav .nav-link {
  color: #2a2e3d !important;
}

.moneybird .cr-header  {
  background-color: #E4171F;
}

.moneybird .cr-header-cta {
  background-color: #FFFFFF;
  border-color: #E4171F;
  color: #E4171F;
}

.moneybird .cr-header-cta:hover {
  background-color: #2a2e3d;
  border-color: #E4171F;
  color: #ffffff;
}

.moneybird .body-scrolled .topbar-nav .nav-link {
  color: #2a2e3d !important;
}

.unit4 .cr-header  {
  background-color: #E4171F;
}

.unit4 .cr-header-cta {
  background-color: #FFFFFF;
  border-color: #E4171F;
  color: #E4171F;
}

.unit4 .cr-header-cta:hover {
  background-color: #2a2e3d;
  border-color: #E4171F;
  color: #ffffff;
}

.unit4 .body-scrolled .topbar-nav .nav-link {
  color: #2a2e3d !important;
}

.isp-vision .cr-header  {
  background-color: #E4171F;
}

.isp-vision .cr-header-cta {
  background-color: #FFFFFF;
  border-color: #E4171F;
  color: #E4171F;
}

.isp-vision .cr-header-cta:hover {
  background-color: #2a2e3d;
  border-color: #E4171F;
  color: #ffffff;
}

.isp-vision .body-scrolled .topbar-nav .nav-link {
  color: #2a2e3d !important;
}

.groenvision .cr-header  {
  background-color: #E4171F;
}

.groenvision .cr-header-cta {
  background-color: #FFFFFF;
  border-color: #E4171F;
  color: #E4171F;
}

.groenvision .cr-header-cta:hover {
  background-color: #2a2e3d;
  border-color: #E4171F;
  color: #ffffff;
}

.groenvision .body-scrolled .topbar-nav .nav-link {
  color: #2a2e3d !important;
}

.lightspeed .cr-header  {
  background-color: #E4171F;
}
.lightspeed .cr-header-cta {
  background-color: #FFFFFF;
  border-color: #E4171F;
  color: #E4171F;
}
.lightspeed .cr-header-cta:hover {
  background-color: #2a2e3d;
  border-color: #E4171F;
  color: #ffffff;
}
.lightspeed .body-scrolled .topbar-nav .nav-link {
  color: #2a2e3d !important;
}

.perfectview .cr-header  {
  background-color: #E4171F;
}

.perfectview .cr-header-cta {
  background-color: #FFFFFF;
  border-color: #E4171F;
  color: #E4171F;
}

.perfectview .cr-header-cta:hover {
  background-color: #2a2e3d;
  border-color: #E4171F;
  color: #ffffff;
}

.perfectview .body-scrolled .topbar-nav .nav-link {
  color: #2a2e3d !important;
}

.onfact .cr-header  {
  background-color: #E4171F;
}
.onfact .cr-header-cta {
  background-color: #FFFFFF;
  border-color: #E4171F;
  color: #E4171F;
}
.onfact .cr-header-cta:hover {
  background-color: #2a2e3d;
  border-color: #E4171F;
  color: #ffffff;
}
.onfact .body-scrolled .topbar-nav .nav-link {
  color: #2a2e3d !important;
}

.imuis .cr-header  {
  background-color: #E4171F;
}

.imuis .cr-header-cta {
  background-color: #FFFFFF;
  border-color: #E4171F;
  color: #E4171F;
}

.imuis .cr-header-cta:hover {
  background-color: #2a2e3d;
  border-color: #E4171F;
  color: #ffffff;
}

.imuis .body-scrolled .topbar-nav .nav-link {
  color: #2a2e3d !important;
}

.topbar-nav .nav-link {
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  color: #8e8e93;
  opacity: 1;
}

.topbar-nav .nav-item+.nav-item {
  margin-left: 1.8rem;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-19 {
  margin-bottom: 19px;
}